# Ignore node_modules (Docker installs them separately)
node_modules

# Ignore local build files
dist
.build

# Ignore environment files (security risk)
.env
.env.local
.env.development
.env.production

# Ignore logs and temp files
logs
*.log

# Ignore system and editor files
.DS_Store
.vscode/
.idea/
